.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 60px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #000000;
}

@media screen and (max-width: 962px) {

  .page {
    padding-left: 19px;
    padding-right: 19px;
  }

}

@media screen and (max-width: 601px) {

  .page {
    padding: 28px 8px 36px;
  }

}
