.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 60px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #000000;
}
