.profile__title {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 601px) {
  .profile__title {
    margin-bottom: 5px;
    font-size: 27px;
    line-height: 33px;
  }
}
