  @media screen and (max-width: 962px) {

    .content {
      padding-left: 19px;
      padding-right: 19px;
    }

  }

  @media screen and (max-width: 601px) {

    .content {
      padding-left: 8px;
      padding-right: 8px;
    }

  }


