.profile__edit-btn {
  position: absolute;
  top: 20%;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url('../../../images/edit-button.svg');
  background-position: center;
}

