.profile__edit-btn {
  position: absolute;
  top: 20%;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url("../../../images/edit-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 601px) {
  .profile__edit-btn {
    top: 14%;
    right: -15%;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
