.popup__btn-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity .3s ease;
}

.popup__btn-close:hover {
  opacity: .6;
}

@media screen and (max-width: 601px) {

  .popup__btn-close {
   width: 20px;
   height: 20px;
   right: 0;
  }

}

