.profile__info {
  position: relative;
  padding-right: 42px;
}

@media screen and (max-width: 768px) {

  .profile__info  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
  }

}

@media screen and (max-width: 601px) {

  .profile__info  {
   padding-right: 0;
  }

}
